
.wrapper{
  display: flex;
  margin: auto;
  width: 1360px;
}

.wrapperright{
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  width: 100%;
}

.logo {
 width: 265px
}

.logo img{
  height:77px;
}

.inputSearch {
  position: relative;
 
}

.inputSearch input[type=text]{
  position: relative;
  height: 28px;
  width: 375px;
  border-radius: 3px;
  border: 1px solid #e0e0e0;
  padding: 3px 0 2px 15px;
  left: 38px;
}
.inputSearch :focus{
  outline: none;
}

.inputSearch ::placeholder {
  font-family: Arial,Verdana,Helvetica,sans-serif;
  font-size: 1.2em;
  color: rgb(179, 174, 174);
}

.inputSearch button {
 position: absolute;
 top: 4px;
 height: 23px;
 width: 22px;
 background-image: url("./headerAssets/search.png");
 background-size: contain;
 background-repeat: no-repeat;
 border: none;
}

.innerWrapperImg img{
  height: 24px;
  width: 29px;
  border-radius: 3px;
  border: 1px solid #e0e0e0;
  padding: 5px 10px;
  margin-bottom: -4px;
}

.contact h2, p {
    margin: 0px;
    padding: 0px;
    font-family: Arial,Verdana,Helvetica,sans-serif;
    text-align: right ;
    font-weight: normal;
}

.contact h2 {
  color: #b2007c;
  font-size: 1.3em;

}

.contact p {
  color: #471e81;
  font-size: 0.9em;
}

.contact span {
  color: #b2007c;
  font-weight: bold;
}

.callBackButton button{
  position: relative;
  background-color:  #c8057f;
  font-family: Arial,Verdana,Helvetica,sans-serif;
  color: aliceblue;
  width: 150px;
  height: 37px;
  border: none;
  font-size: .76em;
  right: 35px;
}

.basket {
  position: relative;
  left: 20px;
}

.basket img{
 
  height: 37px;
  width: 45px;

}

.basket p{
  color: #5c2483;
  font-family: Arial,Verdana,Helvetica,sans-serif;
  font-size: .80em;
  text-align: center;
}

.inputSearch button, .innerWrapperImg img, .callBackButton button{
  cursor: pointer;
}





